<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>kit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>90E3CADD1D05845800F4AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E3CAF61D05845900F4AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>90E3CB011D05845900F4AD20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
